<div ck-tag-element  class="form-group">
  <label ng-if="element.title" for="{{element.id}}">{{element.title}}</label>
  <ui-select
    multiple
    tagging="tagTransform"
    ng-model="data[element.name]"
    theme="bootstrap"
    ng-disabled="disabled"
    reset-search-input="true">

    <ui-select-match ng-attr-placeholder="{{element.placeholder}}">{{$item[element.reference.titleField]}}</ui-select-match>

    <ui-select-choices repeat="tag in tags | propsFilter: {title: $select.search}">

      <div
        ng-if="tag.isTag"
        ng-bind-html="tag[element.reference.titleField] +' <small>(new)</small>'| highlight: $select.search"></div>

      <div
        ng-if="!tag.isTag"
        ng-bind-html="tag[element.reference.titleField] + tag.isTag| highlight: $select.search"></div>

    </ui-select-choices>
  </ui-select>

  <p ng-if="element.description" class="help-block">{{element.description}}</p>
</div>
